body {
  font-family: Nunito, 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 90%; 
  margin: 0 auto;
  background-color: aliceblue;
}

h1, h2, h3 { margin-top: 3px; margin-bottom: 6px;}
cite { color: gray; }
a {text-decoration: none; color: DarkBlue;}
a:hover {text-decoration: underline;}
button {font-variant: small-caps; cursor: pointer}
summary {
  background-color: black;
  color: aliceblue;
}
details {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}